* {box-sizing: border-box;
}
body { 
    margin: 0;
    overflow-x: hidden;
}

.nav-bar{
    /*background-color: pink ;*/
    padding: 14px 20px 0 20px;
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
}
.menu{
    list-style:none;
    padding:0;
    margin:0;
    
}
.menu{
    width: 100%;
    margin-left: 100%;
    transition: all 0.5s;
}
.menu__link{
    display: block;
    padding: 20px;
    color:white;
    font-size: 1.2em;
    text-decoration: none;
}
.menu__item:hover{
    background: rgb(216, 147, 216);
    transition: all 0.8s;

}
a:hover{
    color: rgb(255, 255, 255);

}
.menu__link:active{
    color: white;
}
.mostrar{
    margin-left: 0;
    z-index: 3;
    background-color: pink;
}
.conteiner-carrousel{
    height: 45vh;
}

header{
    display: flex;
    justify-content: space-between;
    height: 11vh;
    /* Agregado */
    
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    background-color:  rgba(233, 153, 171);
    /*background: transparent*/
}
/* **************************** AGREGADO ******************************** */

  /*
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  
  header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  */
header a {
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

header.active {
    background-color: pink;
    box-shadow: 0 2px 10px rgba(202, 104, 161, 0.3);
}

header.active a {
    /*color: #000;*/
}

header.active .container {
    padding: 10px 0;
}
/*
header a.current, header a:hover {
    color: #2b84c0;
    font-weight: bold;
}

*/











/* **************************** FIN AGREGADO ******************************** */

#logo{
    height: 50px;
    width: 150px;
    padding-left: 10px;
}

.carousel{
    z-index: 2;
    height: 100%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
#carrousel-image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}


/* ******************* ¿QUIENES SOMOS? ***********************/
h2, .secciones{
    text-align: center;
    padding: 20px 0 10px 0px;
    color: rgb(130, 130, 219);
    font-weight: bold;
    font-size: 30px;
}

h3{
    text-align: center;
    padding: 0 30px 0px 30px;
    font-size: 20px;
}

/* *********************** CARDS ****************** */

.cards{
    display: flex;
    justify-content: space-around; /* Para que tengan la misma separación */
    flex-wrap: wrap; /* Para que se ajusten a distintos tipos de pantalla */
    margin: 0 auto; /* Para que estén centrados */
}
.cards > div{
    width: 400px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Para tarde 0.3s al modificarse */
}

.caaards > diaav:hover{
    /*box-shadow: 2px 2px 23px 2px #951ec4;*/
    transform: scale(1.04); /* Para que se agrande un poco al pasarle el mouse */
}

.bloque1{ background-image: url("../img/perros1.jfif"); }
.bloque2{ background-image: url("../img/perros2.webp"); }
.bloque3{ background-image: url("../img/perros3.jfif"); }
.bloque4{ background-image: url("../img/perros4.jfif"); }
.bloque5{ background-image: url("../img/perros5.jfif"); }
.bloque6{ background-image: url("../img/perros6.jfif"); }
.bloque7{ background-image: url("../img/perros7.jfif"); }
.bloque8{ background-image: url("../img/perros8.jfif"); }


.tarjeta{
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.tarjeta>p{
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    transition: all 0.5s ease-out;
    filter: opacity(0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


.tarjeta:hover{
    font-size: 40px;
    filter: opacity(0.9);
    transform: scale(1.03);
}

.tarjeta:hover p {
    background: rgba(0, 0, 0, 0.93);
    font-size: 40px;
    filter: opacity(1);
    padding-top: 10px;
    padding-bottom: 10px;

}


footer{
    margin-top: 40px;
    height: 15vh;
    background-color: rgb(119, 119, 221);
}

main{
    margin-top: 11vh;
}

.text-carrousel{
    position: absolute;
    top: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.text-carrousel>h5{
    font-size: 20px;
    padding-bottom: 3px;
    display: none;
}
.text-carrousel>p{
    font-size: 15px;

}

/*Vista Tablets*/
@media (min-width: 768px){
    
    .conteiner-carrousel{
        height: 89vh;
    }
    .nav-bar{
        display:none;
    }
    .menu{
        margin-left:0;
        display:flex;
        
    }
    header{
        background-color:  rgba(233, 153, 171, 0.4);
        align-items: center;

    }
    main{
        margin-top: 0;
    }
    .text-carrousel{
        top: 30%;
    }
    .text-carrousel>h5{
        display: inline;
        font-size: 35px;
        padding-bottom: 10px;
    }
    .text-carrousel>p{
        font-size: 20px;
    
    }
    h2, .secciones{
        padding: 30px 20px 30px 20px;
        font-size: 35px;

    }
    h3{
        font-size: 25px;
    }
}

/*Vista Computadoras*/
@media (min-width: 1200px){

}



