@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0%;
    padding: 0%;
}
.background {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.bg{
    height: 100%;
    width: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg.jpg");*/
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    height: 480px;
    width: 380px;
    background: #fff;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
}

.button-box{
    width: 350px;
    margin: 15px 15px 15px 15px;
    height: 100px;
    /*position: relative;*/

    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    left: 30px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 220px;
    height: 100%;
    background: linear-gradient(to right, rgb(238, 104, 15), rgb(243, 163, 13));
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    height: 25px;
    margin: 0 8px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 40px;
}

.input-group{
    top: 140px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding:10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(238, 104, 15), rgb(243, 163, 13));
    border: none;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

.check-box span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}


#Login{
    left: 50px;
}

#Register{
    left: 450px;
}


.button-box{
    /*background-image: url("../img/fondoplanetas.jpg");*/
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.se-busca{
    font-family: 'Poppins', sans-serif;
    color: #f0525f;
    font-size: 45px;
    font-weight: bold;
}
.bg{
    background-image: url("../img/perro-fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-check-input{
    margin: 0px 0px 0px 32px;
}
